# Importing Libraries

In [1]:
import pandas as pd
import os

# Function for Merging all the text files

In [2]:
def load_imdb_data(data_dir):
    data = []
    for split in ["train","test"]:
        for sentiment in ["pos","neg"]:
            folder = os.path.join(data_dir, split, sentiment)
            label = 1 if sentiment == 'pos' else 0
            for filename in os.listdir(folder):
                if filename.startswith('.'):
                    continue
                with open(os.path.join(folder, filename), 'r', encoding='utf-8') as file:
                    review = file.read()
                    data.append({'review': review, 'sentiment': label}) 
    return pd.DataFrame(data)
df = load_imdb_data(r"C:\Users\ABIR GHOSH\Desktop\Datsets for Infosys Project\IMDB_dataset\aclImdb")

In [3]:
df

                                                  review  sentiment
0      Bromwell High is a cartoon comedy. It ran at t...          1
1      Homelessness (or Houselessness as George Carli...          1
2      Brilliant over-acting by Lesley Ann Warren. Be...          1
3      This is easily the most underrated film inn th...          1
4      This is not the typical Mel Brooks film. It wa...          1
...                                                  ...        ...
49994  I occasionally let my kids watch this garbage ...          0
49995  When all we have anymore is pretty much realit...          0
49996  The basic genre is a thriller intercut with an...          0
49997  Four things intrigued me as to this film - fir...          0
49998  David Bryce's comments nearby are exceptionall...          0

[49999 rows x 2 columns]

In [4]:
def load_imdb_train_data(data_dir):
    data = []
    for split in ["train"]:
        for sentiment in ["pos","neg"]:
            folder = os.path.join(data_dir, split, sentiment)
            label = 1 if sentiment == 'pos' else 0
            for filename in os.listdir(folder):
                if filename.startswith('.'):
                    continue
                with open(os.path.join(folder, filename), 'r', encoding='utf-8') as file:
                    review = file.read()
                    data.append({'review': review, 'sentiment': label}) 
    return pd.DataFrame(data)
df_train = load_imdb_train_data(r"C:\Users\ABIR GHOSH\Desktop\Datsets for Infosys Project\IMDB_dataset\aclImdb")

In [5]:
df_train

                                                  review  sentiment
0      Bromwell High is a cartoon comedy. It ran at t...          1
1      Homelessness (or Houselessness as George Carli...          1
2      Brilliant over-acting by Lesley Ann Warren. Be...          1
3      This is easily the most underrated film inn th...          1
4      This is not the typical Mel Brooks film. It wa...          1
...                                                  ...        ...
24995  Towards the end of the movie, I felt it was to...          0
24996  This is the kind of movie that my enemies cont...          0
24997  I saw 'Descent' last night at the Stockholm Fi...          0
24998  Some films that you pick up for a pound turn o...          0
24999  This is one of the dumbest films, I've ever se...          0

[25000 rows x 2 columns]

In [6]:
def load_imdb_test_data(data_dir):
    data = []
    for split in ["test"]:
        for sentiment in ["pos","neg"]:
            folder = os.path.join(data_dir, split, sentiment)
            label = 1 if sentiment == 'pos' else 0
            for filename in os.listdir(folder):
                if filename.startswith('.'):
                    continue
                with open(os.path.join(folder, filename), 'r', encoding='utf-8') as file:
                    review = file.read()
                    data.append({'review': review, 'sentiment': label}) 
    return pd.DataFrame(data)
df_test = load_imdb_test_data(r"C:\Users\ABIR GHOSH\Desktop\Datsets for Infosys Project\IMDB_dataset\aclImdb")

In [7]:
df_test

                                                  review  sentiment
0      I went and saw this movie last night after bei...          1
1      Actor turned director Bill Paxton follows up h...          1
2      As a recreational golfer with some knowledge o...          1
3      I saw this film in a sneak preview, and it is ...          1
4      Bill Paxton has taken the true story of the 19...          1
...                                                  ...        ...
24994  I occasionally let my kids watch this garbage ...          0
24995  When all we have anymore is pretty much realit...          0
24996  The basic genre is a thriller intercut with an...          0
24997  Four things intrigued me as to this film - fir...          0
24998  David Bryce's comments nearby are exceptionall...          0

[24999 rows x 2 columns]

# Random Sampling the Dataset

In [8]:
df_train = df_train.sample(frac=1, random_state=42).reset_index(drop=True)
df_test = df_test.sample(frac=1, random_state=42).reset_index(drop=True)

In [9]:
df_train

                                                  review  sentiment
0      In Panic In The Streets Richard Widmark plays ...          1
1      If you ask me the first one was really better ...          0
2      I am a big fan a Faerie Tale Theatre and I've ...          1
3      I just finished reading a book about Dillinger...          0
4      Greg Davis and Bryan Daly take some crazed sta...          0
...                                                  ...        ...
24995  My roommates & I nearly shorted out our TV fro...          0
24996  Michelle Rodriguez is the defining actress who...          1
24997  Nice movie with a great soundtrack which spans...          1
24998  Even though this was a made-for-TV production,...          0
24999  I saw this on cable recently and kinda enjoyed...          0

[25000 rows x 2 columns]

In [10]:
df_test

                                                  review  sentiment
0      How I Spend My Vacation puts closure to the te...          1
1      Director Nico Mastorakis has made a cynical ca...          0
2      Graphics: brilliant, obviously. The most stunn...          1
3      Carole Lombard and James Stewart gamely try to...          0
4      This was the worst TV movie I had ever seen. T...          0
...                                                  ...        ...
24994  This was the worst Wrestlemania in history. Th...          0
24995  These critics need to find a new job!!! This m...          1
24996  In my opinion this is the best Oliver Stone fl...          1
24997  I have read all of the reviews for this direct...          0
24998  Ridiculous film where two swinging college gra...          0

[24999 rows x 2 columns]

In [11]:
from sklearn.model_selection import train_test_split

# Creating the CSV files

In [12]:
df_train.to_csv("imdb_reviews_train.csv", index=False, encoding='utf-8')
df_test.to_csv("imdb_reviews_test.csv", index=False, encoding='utf-8')

# Unsupervised Dataset

In [13]:
def load_unsup_to_dataframe(unsup_dir):
    reviews = []
    for filename in os.listdir(unsup_dir):
        if filename.startswith('.'):
            continue  # Skip hidden/system files
        file_path = os.path.join(unsup_dir, filename)
        with open(file_path, 'r', encoding='utf-8') as f:
            review = f.read().strip().replace('\n', ' ')
            reviews.append(review)
    df = pd.DataFrame({'review': reviews})
    return df
df_unsup = load_unsup_to_dataframe(r"C:\Users\ABIR GHOSH\Desktop\Datsets for Infosys Project\IMDB_dataset\aclImdb\train\unsup")
df_unsup

                                                  review
0      I admit, the great majority of films released ...
1      Take a low budget, inexperienced actors doubli...
2      Everybody has seen 'Back To The Future,' right...
3      Doris Day was an icon of beauty in singing and...
4      After a series of silly, fun-loving movies, 19...
...                                                  ...
49995  Delightfully awful! Made by David Giancola, a ...
49996  Watching Time Chasers, it obvious that it was ...
49997  At the beginning we can see members of Troma t...
49998  The movie was incredible, ever since I saw it ...
49999  TCM came through by acquiring this wonderful, ...

[50000 rows x 1 columns]

In [14]:
df_unsup.to_csv("Unsupervised_Dataset.csv",index=False, encoding='utf-8')